.container1 div{
    padding: 10px;
    border: 1px solid silver;
}
@media (min-width: 500px) {
    .container1{
        display: flex;
        justify-content: flex-start;
    }
    
    .container2 {
        display: flex;
    }

    .container3 {
        display: flex;
    }
}





.box1 {

}

.box2 {


}

#pic {
    width: 100%;   
}


.kyiv {
    text-align: center;
}

.kyiv:hover {
    background-color: slategray;
}

.row1 {
    flex: 1;
    background: #ccc;
    padding: 20px;
}

.row2 {
    flex: 2;
    background-color: #f1f1f1;
    padding: 10px;
}

.row3 {
    flex: 1;
    background-color: rgb(155, 193, 207);
    padding: 5px;
}
.new {
    font-size: 30px;
    color: red;
}

#new1 {
    font-size: 22px;
}

footer {
  background-color: #777;
  padding: 10px;
  
  color: white;
}

ul > li {
    font-size: 20px;
}



.container3 div{
    padding: 10px;
    border: 1px solid silver;
}

.emp1 {
    flex: 1;
    background-color: rgb(255, 232, 190);
}

.emp2 {
    flex: 1;
    background-color: rgb(167, 135, 135);
}

.emp3 {
    flex: 1;
    background-color: rgb(150, 211, 205);
}

.emp4 {
    flex: 1;
    background-color: rgb(140, 184, 159);
}

.emp5 {
    flex: 1;
    background-color: rgb(255, 214, 110);
}

.emp6 {
    flex: 1;
    background-color: khaki;
}

.emp7 {
    flex: 1;
    background-color: cadetblue;
}

.emp8 {
    flex: 1;
    background-color: cornflowerblue;
}

.emp9 {
    flex: 1;
    background-color: lavenderblush;
}

.emp10 {
    flex: 1;
    background-color: lightgray;
}

.container4 {
        display: flex;
        padding: 10px;
        border: 1px solid rgb(212, 94, 94);
}

.cat1 {
    flex: 1;
    background-color: rgb(248, 241, 145);
}

.cat2 {
    flex: 1;
    background-color: silver;
    
}

.cat3 {
    flex: 1;
    background-color: rgb(100, 190, 202);
}