
.topleft{
    position: absolute;
    font-size: 75px;
    top: 700px;
    left: 35px;
    font-family: "Russo One", serif;
    text-shadow: 4px 4px 4px #aaa;
    color:darkblue;
}
#ans1{
    float: left;
    width: 35px;
}
#ans2{
float: left;
width: 35px;
}
#ans3{
    float: left;  
    width: 35px;
}
#ans4 {
    float:left;
    width: 35px;
}
.hel {
    font-size: 25px;
    font-family: "Russo One", serif;
    width: 100%;
}
.hello {
    background-color: rgb(182, 184, 78);
    width: 100%;
}
#city {
    font-family: "Lobster";
    font-size: 75px;
    text-shadow: 5px 5px 5px #aaa;
    text-align: center;
}

}
#zub {
    background-color: skyblue;
    width: 255px;
    font-style: oblique;
}
#boom1 {
    float: left;
    width: 150px;
    height: 150px;
    overflow: visible;
   
}
#bomb{
   
}
#boom2 {
    float: left;
    width: 160px;
    height: 150px;
    overflow: visible;
    padding: 1px;
    
}
#boom3 {
    float: left;
    width: 150px;
    height: 150px;
    overflow: visible;
    
}
#sal {
    background-color:  turquoise;
    color: rgb(243, 53, 20);
}
#abc {
    width: 100px;
    height: 30px;
    font-style: italic;
}
#goo {
    width: 450px;
    font-style: oblique;
    display: block;
}
#solo {
    width:100px;
    height: 100px;
    font-size: 25px;
    background-color: red;
}
#hi {
    width: 300px;
    height: 180px;
    border: 3px solid;
    position: absolute;
}
#fin:hover {
    background-color: red;
    width: 100%;
            font-size: 45px;
        text-align: center;
}
#fin{
        font-size: 45px;
        text-align: center;
}
#pic {
    width: 100%;
    opacity: 0.7;
}
.container {
    display: -webkit-flex;
    align-items: stretch;

}
.box1 {
    width: 200px;
}
.box2 {
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    
    border: 1px solid;
    border-color:green;
    padding: 15px;
    text-align: justify;
    font-size: 23px;
    font-family: "Oswald"; 
}
.num2 {
    position: relative;
    text-align: center;
}
.num1 {
    position: absolute;
    
}