.navi {
    background-color: bisque;
    display: inline;
    border: 1px solid;
    border-color:green;
    margin: 150px;
    padding: 15px;
    font-size: 23px;
    font-family: "Oswald";
}
.topleft{
    position: absolute;
    font-size: 35px;
    top: 400px;
    left: 35px;
}